:root{
    --primary: #40BFFF;
    --secondary : #BCDDFE;
}
body{
    margin : 0px;
}
.wrapper{
    min-height: 600px;
}

.banner_1{
    background-image: url('../../assets/Promotion\ Image.png');
}

.row{}
.card{
    text-align: center;
    padding: 30px;
}
.grid_produk{
    display: inline-flex;
    flex-flow: wrap;
    padding: 30px 150px;
}
.item_produk{
    margin: 30px;
}
.item_produk button{
    background: var(--primary);
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.item_produk button:hover{
    opacity: 0.6;
}

.padding_sm{}
.padding_md{}
.padding_lg{}
.input_group_1{}
.input_group_1 input[type=search]{
    padding: 8px 20px;
    border: 2px solid var(--secondary);
    border-radius: 5px 0 0 5px;
}
.input_group_1 button{
    background-color: var(--primary);
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
}