:root{
    --primary: #40BFFF;
    --secondary : #BCDDFE;
}
body{
    margin : 0px;
}
.wrapper{
    min-height: 600px;
}

.banner_1{
    background-image: url('../../assets/Promotion\ Image.png');
}

.custom_banner{
    min-height: 500px;
    margin-top: 150px;
    display: flex;
}

.row{}

.bg_primary{
    background-color: var(--primary);
}

.grid_2{
    padding: 0 100px;
    display: inline-flex;
}
.grid_2 div{
    width: 50%;
    position: relative;
    top: 210px;
}

.image_custom_banner{
    position: relative;
    top: -305px;
}

.banner_link{
    color: white;
}

.banner_link h1{
    font-size: xxx-large;
}

.banner_link p{
    font-size: 18px;
}

.card{
    text-align: center;
    padding: 30px;
}
.grid_produk{
    display: inline-flex;
    flex-flow: wrap;
    padding: 30px 150px;
}
.item_produk{
    text-align: center;
    width: 25%;
}

.item_produk div{
    padding: 20px 20px 50px 20px;
}
.item_produk img{
    width: 100%;
    min-height: 340px;
}

.item_produk h4{
    font-size: 24px;
    margin: 10px;
    color: var(--primary);
}
.item_produk button{
    background: var(--primary);
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.item_produk button:hover{
    opacity: 0.6;
}

.padding_sm{}
.padding_md{}
.padding_lg{}
.input_group_1{}
.input_group_1 input[type=search]{
    padding: 12px 25px;
    border: 2px solid var(--secondary);
    border-radius: 5px 0 0 5px;
    width: 400px;
    font-size: 18px;
}
.input_group_1 button{
    background-color: var(--primary);
    padding: 16px 25px;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;

}